# required because of:
# ERROR: /Users/steveconover/code/bazel-test1/BUILD:27:1: in scala_binary rule //:HelloScala:
# Traceback (most recent call last):
# 	File "/Users/steveconover/code/bazel-test1/BUILD", line 27
# 		scala_binary(name = 'HelloScala')
# 	File "/private/var/tmp/_bazel_steveconover/8da80e32815985dc4a1d5e2b3f392c46/external/io_bazel_rules_scala/scala/scala.bzl", line 506, in _scala_binary_impl
# 		_scala_binary_common(ctx, cjars, transitive_rjars)
# 	File "/private/var/tmp/_bazel_steveconover/8da80e32815985dc4a1d5e2b3f392c46/external/io_bazel_rules_scala/scala/scala.bzl", line 469, in _scala_binary_common
# 		_compile_or_empty(ctx, cjars, [], False)
# 	File "/private/var/tmp/_bazel_steveconover/8da80e32815985dc4a1d5e2b3f392c46/external/io_bazel_rules_scala/scala/scala.bzl", line 265, in _compile_or_empty
# 		_compile(ctx, jars, srcjars, buildijar)
# 	File "/private/var/tmp/_bazel_steveconover/8da80e32815985dc4a1d5e2b3f392c46/external/io_bazel_rules_scala/scala/scala.bzl", line 162, in _compile
# 		set((srcjars + list(dep_srcjars)))
# The `set` constructor for depsets is deprecated and will be removed. Please use the `depset` constructor instead. You can temporarily enable the deprecated `set` constructor by passing the flag --incompatible_disallow_set_constructor=false.
# ERROR: Analysis of target '//:HelloScala' failed; build aborted.

build --incompatible_disallow_set_constructor=false